﻿@model Maksimalist.Models.Post
@{
    ViewBag.Title = "_MobilePost";
    Layout = null;
}

<li class="list-item">
    @if (Model.HasGallery)
    {
        <a class="img-thumb" href="~/post/galeri/@Model.Category.UrlSlug/@Model.SubCategory.UrlSlug/@Model.UrlSlug" title="@Model.Headline">
            <img src="@Model.ContentImage">
        </a>
        <div class="list-meta">
            <div class="post-date">@String.Format("{0:dd MMMM yyyy}", Model.PostDate)</div><div><a href="~/kategori/@Model.Category.UrlSlug" title="@Model.Category.Name">@Model.Category.Name</a></div>
        </div>
        <a class="list-content" href="~/post/galeri/@Model.Category.UrlSlug/@Model.SubCategory.UrlSlug/@Model.UrlSlug" title="Read Full Post">
            <h4>@Model.Bottomline</h4>
        </a>
    }
    else
    {
        <a class="img-thumb" href="~/post/@Model.Category.UrlSlug/@Model.SubCategory.UrlSlug/@Model.UrlSlug" title="@Model.Headline">
            <img src="@Model.ContentImage">
        </a>
        <div class="list-meta">
            <div class="post-date">@String.Format("{0:dd MMMM yyyy}", Model.PostDate)</div><div><a href="~/kategori/@Model.Category.UrlSlug" title="@Model.Category.Name">@Model.Category.Name</a></div>
        </div>
        <a class="list-content" href="~/post/@Model.Category.UrlSlug/@Model.SubCategory.UrlSlug/@Model.UrlSlug" title="Read Full Post">
            <h4>@Model.Headline</h4>
        </a>
    }

</li>

