@model Maksimalist.Models.Post
<article class="post-25 post type-post status-publish format-video has-post-thumbnail hentry category-style tag-creative tag-music tag-video grid-4" style="position: absolute; left: 0px; top: 0px;">

    <figure class="entry-image inview">
        <a href="../../vimeo-video-post/index.html">
            <img width="330" height="220" src="@Model.ImageUrl" class="attachment-masonry-size wp-post-image">@if (Model.HasGallery){<i class="icomoon-camera-retro"></i>}
        </a>

    </figure>

    <header class="entry-header">
        <div class="entry-meta">
            <span class="entry-category"><a href="~/@Model.Category.Name">@Model.Category.Name</a></span><time class="entry-date updated" datetime="2013-05-27T07:00:20+00:00" itemprop="datePublished">May 27, 2013</time>
        </div>
        <h2 class="entry-title" itemprop="headline">
            <a href="~/@Model.Category.Name/@Model.SubCategory.Name/@Model.UrlSlug">@Model.Headline</a>
        </h2>
        <span class="vcard author">
            By            <a href="../../author/jane/index.html" class="url fn n" rel="author">
                @Model.Author.FirstName @Model.Author.LastName
            </a>
        </span>
    </header>

    <div class="entry-summary" itemprop="text">
        <p>@Model.Bottomline</p>

        <a class="read-more-link" href="~/@Model.Category.Name/@Model.SubCategory.Name/@Model.UrlSlug">Read More</a>
    </div>

</article>

