﻿@model Maksimalist.Models.Post
    <article class="post-148 post type-post status-publish format-standard has-post-thumbnail hentry category-travel tag-black-n-white tag-nature tag-river grid-3">

        <figure class="entry-image">
            @if (Model.HasGallery)
            { <a href="~/post/galeri/@Model.Category.UrlSlug/@Model.SubCategory.UrlSlug/@Model.UrlSlug">
                <img width="270" height="180" src="@Model.ContentImage" class="attachment-rectangle-size wp-post-image" />
            </a>}
            else if(Model.HasVideo)
            {  <a href="~/post/@Model.Category.UrlSlug/@Model.SubCategory.UrlSlug/@Model.UrlSlug">
                <img width="270" height="180" src="@Model.ContentImage" class="attachment-rectangle-size wp-post-image" />
            </a>}
            else
            {
                <a href="~/post/@Model.Category.UrlSlug/@Model.SubCategory.UrlSlug/@Model.UrlSlug">
                    <img width="270" height="180" src="@Model.ContentImage" class="attachment-rectangle-size wp-post-image" />
                </a>
            }
        </figure>

        <header class="entry-header">
            <div class="entry-meta">
                <span class="entry-category"><a href="~/kategori/@Model.Category.UrlSlug">@Model.Category.Name</a></span><time class="entry-date updated" datetime="@Model.PostDate">@String.Format("{0:dd MMMM yyyy}", Model.PostDate)</time>
            </div>
            <h2 class="entry-title">
                @if (Model.HasGallery)
                {<a href="~/post/galeri/@Model.Category.UrlSlug/@Model.SubCategory.UrlSlug/@Model.UrlSlug">@Model.Headline</a>}
                else
                {  <a href="~/post/@Model.Category.UrlSlug/@Model.SubCategory.UrlSlug/@Model.UrlSlug">@Model.Headline</a>}
               
            </h2>
            
        </header>
        <div class="entry-summary">
            <p>@Model.Bottomline</p>
        </div>
    </article>
