﻿@model Maksimalist.Models.Post

@{
    List<Maksimalist.Models.Post> last3post = ViewBag.last3post;
     List<Maksimalist.Models.Post> Benzer = ViewBag.Benzer;
}

<body class="single single-post postid-1 single-format-standard ltr" itemscope itemtype="http://schema.org/WebPage">
    <script>
    window.fbAsyncInit = function () {
        FB.init({
            appId: '780985738613644',
            xfbml: true,
            version: 'v2.1'
        });
    };

    FB.ui({
        method: 'share_open_graph',
        action_type: 'og.likes',
        action_properties: JSON.stringify({
            object: 'https://developers.facebook.com/docs/',
        })
    }, function (response) { });

    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) { return; }
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/all.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));

    $("#Selam").click(function () {
        fb.ui;
    });
    </script>

    <div id="fb-root"></div>
    <script>
(function (d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/tr_TR/sdk.js#xfbml=1&appId=780985738613644&version=v2.0";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>


    <main id="content" class="clearfix animated" role="main" itemprop="mainContentOfPage" itemscope itemtype="http://schema.org/Blog">

        <article id="post-1" class="post-1 post type-post status-publish format-standard has-post-thumbnail hentry category-fashion tag-music tag-video" itemscope itemtype="http://schema.org/Article">
           

            <div class="wrapper">
                <div class="grids">
                    <div class="grid-8 column-1">
                        <header class="wrapper entry-header page-header">
                            <div class="entry-meta">
                                <span class="vcard author" itemprop="author" itemscope="itemscope" itemtype="http://schema.org/Person">
                                    <span>By</span>

                                    <span itemprop="name">@Model.Author.FirstName @Model.Author.LastName</span>

                                </span>
                                <span class="entry-category"><a href="/kategori/@Model.Category.UrlSlug">@Model.Category.Name</a></span><time class="entry-date updated">@String.Format("{0:dd MMMM yyyy}", Model.PostDate)</time>
                            </div>

                            <div class="title-with-sep ruler-background single-title">
                                <h1 class="entry-title" itemprop="headline">@Model.Headline</h1>
                            </div>
                        </header>
                        @if (Model.HasVideo)
                        {@Html.Raw(@Model.VideoUrl)}
                        


                        <div class="single-box clearfix entry-content" itemprop="articleBody">
                            @Html.Raw(@Model.Content)
                        </div><!-- .entry-content -->
                        <div class="single-box tag-box clearfix">
                           
                            @foreach (Maksimalist.Models.Tag i in Model.Tags)
                            {
                                @Html.Partial("_Tag", i);
                            }

                        </div>
                        <div class="clearfix single-box social-box social-colors">
                            <h3 class="title">PAYLAS</h3>
                            <ul>
                                <li class="share-facebook">
                                    <a href="http://www.facebook.com/sharer.php?u=@Request.Url.AbsoluteUri" target="blank">
                                        <i class="icomoon-facebook"></i>
                                        FACEBOOK
                                    </a>
                                </li>
                                <li class="share-twitter">
                                    <a href="https://twitter.com/intent/tweet?original_referer=@Request.Url.AbsoluteUri;text=@Model.Headline;tw_p=tweetbutton&amp;url=@Request.Url.AbsoluteUri" target="_blank">
                                        <i class="icomoon-twitter"></i>
                                        TWITTER
                                    </a>
                                </li>
                                <li class="share-pinterest">
                                    <a href="//pinterest.com/pin/create/button/?url=@Request.Url.AbsoluteUri;media=@Model.ContentImage;description=@Model.Headline" target="_blank">
                                        <i class="icomoon-pinterest"></i>
                                        PINTEREST
                                    </a>
                                </li>
                                
                            </ul>
                        </div>
                         
                        <div class="single-box related-posts">

                            <h3 class="title">Benzer Yazılar</h3>

                            <div class="grids entries">
                                <div class="carousel">

                                    
                                   @foreach (var item in Benzer) { 
                                    <div class="item">
                                        <figure class="entry-image inview">
                                            @if(item.HasGallery){
                                                <a href="~/post/galeri/@item.Category.UrlSlug/@item.SubCategory.UrlSlug/@item.UrlSlug">
                                                    <img width="296" height="197" src="@item.ContentImage" class="attachment-rectangle-size-small wp-post-image">
                                                </a>
                                            }
                                            else if (item.HasVideo)
                                            {  <a href="~/post/@item.Category.UrlSlug/@item.SubCategory.UrlSlug/@item.UrlSlug">
                                                   <img width="296" height="197" src="@item.ContentImage" class="attachment-rectangle-size wp-post-image" />
                                            </a>}
                                            else
                                            {
                                                <a href="~/post/@item.Category.UrlSlug/@item.SubCategory.UrlSlug/@item.UrlSlug">
                                                    <img width="296" height="197" src="@item.ContentImage" class="attachment-rectangle-size wp-post-image" />
                                                </a>
                                            }
                                        </figure>
                                        <header class="entry-header">
                                            <h4>
                                                @if (item.HasGallery)
                                                {<a href="~/post/galeri/@item.Category.UrlSlug/@item.SubCategory.UrlSlug/@item.UrlSlug">@item.Headline</a>}
                                                else
                                                {  <a href="~/post/@item.Category.UrlSlug/@item.SubCategory.UrlSlug/@item.UrlSlug">@item.Headline</a>}
                                            </h4>
                                        </header>
                                    </div>
                                  } 


                                 




                                </div>
                            </div>
                            <a class="prev carousel-nav" href="#" style="display: none;"><i class="icomoon-chevron-left"></i></a>
                            <a class="next carousel-nav" href="#" style="display: none;"><i class="icomoon-chevron-right"></i></a>

                        </div>

                        <div class="single-box author-box single-author-box">
                            <ul class="author-tabs-button clearfix">
                                <li><a href="index.html#author-bio">Bio</a></li>
                                <li><a href="index.html#author-posts">Son Yazıları</a></li>
                            </ul>

                            <div class="author-tabs-content">
                                <div class="clearfix inner">

                                    <div id="author-bio">
                                        <div class="avatar">
                                           
                                                <img alt='@Model.Author.FirstName @Model.Author.LastName' src='@Model.Author.ProfilePicture' class='avatar avatar-70 photo' height='70' width='70' />
                                           
                                        </div><!-- .avatar -->
                                        <div class="author-info" itemprop="author" itemscope="itemscope" itemtype="http://schema.org/Person">
                                            <span class="vcard author">
                                                <span class="fn">
                                                   
                                                        <span itemprop="name">@Model.Author.FirstName @Model.Author.LastName</span>
                                                  
                                                </span>
                                            </span>
                                            <p itemprop="description">
                                                @Model.Author.Bio
                                            </p>
                                        </div><!-- .info -->
                                        <ul class="author-social">

                                            <li>
                                                <a class="twitter-link" href="@Model.Author.TwitterUrl">
                                                    Twitter
                                                </a>
                                            </li>

                                            <li>
                                                <a class="facebook-link" href="@Model.Author.FacebookUrl">
                                                    Facebook
                                                </a>
                                            </li>

                                            <li>
                                                <a class="pinterest-link" href="@Model.Author.Pinterest">
                                                    Pinterest
                                                </a>
                                            </li>


                                        </ul><!-- .author-social -->
                                    </div><!-- #author-bio -->

                                    <div id="author-posts">
                                        <div class="avatar">

                                            <img src='@Model.Author.ProfilePicture' class='avatar avatar-109 photo' height='109' width='109' />

                                        </div><!-- .avatar -->
                                        <div class="author-info">
                                            
                                            @Model.Author.FirstName @Model.Author.LastName Son Yazıları

                                            <ul>
                                                @foreach (var sacma in last3post)
                                                {
                                                    if (sacma.HasGallery)
                                                    {
                                                        <li>
                                                            <a href="~/post/galeri/@sacma.Category.UrlSlug/@sacma.SubCategory.UrlSlug/@sacma.UrlSlug">@sacma.Headline</a>
                                                        </li>
                                                    }
                                                    else
                                                    {
                                                        <li>
                                                            <a href="~/post/@sacma.Category.UrlSlug/@sacma.SubCategory.UrlSlug/@sacma.UrlSlug">@sacma.Headline</a>
                                                        </li>
                                                    }
                                                }
                                            </ul>
                                        </div>
                                    </div><!-- #author-posts -->

                                </div>
                            </div>

                        </div><!-- .tabs -->







                        <div id="comments" class="single-box comments-area">

                            <div class="fb-comments" data-href="@Request.Url.AbsoluteUri" data-width="850" data-numposts="5" data-colorscheme="light"></div>
  
                        </div><!-- .grid-8 -->

                    </div><!-- .grids -->
                    @Html.Partial("_rightnav", (Maksimalist.Models.RightNavViewModel)ViewBag.RightNav)
                </div><!-- .wrapper -->
            </div>
        </article>

    </main><!-- #content -->

</body>
