﻿@model Maksimalist.Models.Post

<!DOCTYPE html>
<!--[if lt IE 9]><html lang="en-US" class="oldie"><![endif]-->
<!--[if (gte IE 9) | !(IE)]><!-->
<html lang="en-US" class="modern">
<!--<![endif]-->
<body class="single single-post postid-1 single-format-standard ltr" itemscope itemtype="http://schema.org/WebPage">
    <script>
        window.fbAsyncInit = function () {
            FB.init({
                appId: '780985738613644',
                xfbml: true,
                version: 'v2.2'
            });
        };

        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) { return; }
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
    <main id="content" class="clearfix animated" role="main" itemprop="mainContentOfPage" itemscope itemtype="http://schema.org/Blog">

        <article id="post-1" class="post-1 post type-post status-publish format-standard has-post-thumbnail hentry category-fashion tag-music tag-video" itemscope itemtype="http://schema.org/Article">
            <header class="wrapper entry-header page-header">
                <div class="entry-meta">
                    <span class="vcard author" itemprop="author" itemscope="itemscope" itemtype="http://schema.org/Person">
                        <span>By</span>
                       
                            <span itemprop="name">@Model.Author.FirstName @Model.Author.LastName</span>
                        
                    </span>
                    <span class="entry-category"><a href="/kategori/@Model.Category.Name">@Model.Category.Name</a></span><time class="entry-date updated">@String.Format("{0:dd MMMM yyyy}", Model.PostDate)</time>
                </div>

                <div class="title-with-sep ruler-background single-title">
                    <h1 class="entry-title" itemprop="headline">@Model.Headline</h1>
                </div>
            </header>

            <div class="wrapper" style="width:1200px">
                <div class="grids">
                    <div class="grid-8 column-1">

                       @if (Model.HasVideo)
                       {@Html.Raw(@Model.VideoUrl)}
                       else
                       {

                            <div class="entry-media">
                                <figure class="base-image"><img width="690" height="460" src="@Model.ContentImage" class="attachment-medium-size wp-post-image" alt="see" itemprop="image" /></figure>
                            </div>
                        }


                        <div class="single-box clearfix entry-content" itemprop="articleBody">
                            @Html.Raw(@Model.Content)
                        </div><!-- .entry-content -->
                        <div class="single-box tag-box clearfix">
                            <h3 class="title">Tags</h3>
                            @foreach (Maksimalist.Models.Tag i in Model.Tags)
                            {
                                @Html.Partial("_Tag", i);
                            }

                        </div>
                        <div class="clearfix single-box social-box social-minimal">
                            <h3 class="title">Share on</h3>
                            <ul>
                                <li class="share-facebook">
                                    <a href="@Model.Author.FacebookUrl" target="blank">
                                        <i class="icomoon-facebook"></i>
                                        Facebook
                                    </a>
                                </li>
                                <li class="share-twitter">
                                    <a href="@Model.Author.TwitterUrl" target="_blank">
                                        <i class="icomoon-twitter"></i>
                                        Twitter
                                    </a>
                                </li>
                                <li class="share-pinterest">
                                    <a href="@Model.Author.Pinterest" target="_blank">
                                        <i class="icomoon-pinterest"></i>
                                        Pinterest
                                    </a>
                                </li>
                                <li class="share-gplus">
                                    <a href="@Model.Author.SpotifyUrl" target="_blank">
                                        <i class="icomoon-google-plus"></i>
                                        Google +
                                    </a>
                                </li>
                                <li class="share-linkedin">
                                    <a href="http://www.linkedin.com/shareArticle?mini=true&url=http://themesindep.com/simplemag/standard-post/&title=Standard%20Post&source=SimpleMag">
                                        <i class="icomoon-linkedin"></i>
                                        LinkedIn
                                    </a>
                                </li>
                                <li class="share-mail">
                                    <a href="@Model.Author.Email">
                                        <i class="icomoon-envelope"></i>
                                        Email
                                    </a>
                                </li>
                            </ul>
                        </div><!-- social-box -->
                        <div class="single-box author-box single-author-box">
                            <ul class="author-tabs-button clearfix">
                                <li><a href="index.html#author-bio">Bio</a></li>
                                <li><a href="index.html#author-posts">Latest Posts</a></li>
                            </ul>

                            <div class="author-tabs-content">
                                <div class="clearfix inner">

                                    <div id="author-bio">
                                        <div class="avatar">
                                            <a href="../author/jane/index.html">
                                                <img alt='@Model.Author.FirstName @Model.Author.LastName' src='@Model.Author.ProfilePicture' class='avatar avatar-70 photo' height='70' width='70' />
                                            </a>
                                        </div><!-- .avatar -->
                                        <div class="author-info" itemprop="author" itemscope="itemscope" itemtype="http://schema.org/Person">
                                            <span class="vcard author">
                                                <span class="fn">
                                                    <a href="../author/jane/index.html" rel="author" itemprop="url">
                                                        <span itemprop="name">@Model.Author.FirstName @Model.Author.LastName</span>
                                                    </a>
                                                </span>
                                            </span>
                                            <p itemprop="description">
                                                @Model.Author.Bio
                                            </p>
                                        </div><!-- .info -->
                                        <ul class="author-social">

                                            <li>
                                                <a class="twitter-link" href="https://twitter.com/twitter">
                                                    Twitter
                                                </a>
                                            </li>

                                            <li>
                                                <a class="facebook-link" href="http://facebook.com/facebook">
                                                    Facebook
                                                </a>
                                            </li>

                                            <li>
                                                <a class="google-link" href="http://plus.google.com/+google?rel=author">
                                                    Google+
                                                </a>
                                            </li>

                                            <li>
                                                <a class="pinterest-link" href="http://pinterest.com/pinterest">
                                                    Pinterest
                                                </a>
                                            </li>


                                        </ul><!-- .author-social -->
                                    </div><!-- #author-bio -->

                                    <div id="author-posts">
                                        <div class="avatar">
                                            <a href="../author/jane/index.html">
                                                <img alt='Jane Doe' src='../wp-content/uploads/sites/2/2013/05/avatar-1.jpg' class='avatar avatar-109 photo' height='109' width='109' />
                                            </a>
                                        </div><!-- .avatar -->
                                        <div class="author-info">
                                            Latest Posts By                    <a href="../author/jane/index.html" rel="author">
                                                Jane Doe
                                            </a>
                                            <ul>
                                                <li>
                                                    <a href="../gallery-post-format/index.html">Gallery Post Format</a>
                                                </li>
                                                <li>
                                                    <a href="../typography/index.html">Typography</a>
                                                </li>
                                                <li>
                                                    <a href="../sound-cloud-audio/index.html">Sound Cloud Audio</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div><!-- #author-posts -->

                                </div>
                            </div>

                        </div><!-- .tabs -->

              


                  


                        <div id="comments" class="single-box comments-area">


                            <div class="fb-comments" data-href="@Request.Url.AbsoluteUri" data-numposts="5" data-colorscheme="light"></div>
                        </div><!-- .grid-8 -->

                    </div><!-- .grids -->
                    @Html.Partial("_rightnav", (Maksimalist.Models.RightNavViewModel)ViewBag.RightNav)
                </div><!-- .wrapper -->

        </article>

    </main><!-- #content -->

</body>
</html>