﻿@model Maksimalist.Models.Post

<!DOCTYPE html>
<!--[if lt IE 9]><html lang="en-US" class="oldie"><![endif]-->
<!--[if (gte IE 9) | !(IE)]><!-->
<html lang="en-US" class="modern">
<!--<![endif]-->
<body class="single single-post postid-1 single-format-standard ltr" itemscope itemtype="http://schema.org/WebPage">
    <script>
    window.fbAsyncInit = function () {
        FB.init({
            appId: '780985738613644',
            xfbml: true,
            version: 'v2.2'
        });
    };

    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) { return; }
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
    </script>
    <main id="content" class="clearfix animated" role="main" itemprop="mainContentOfPage" itemscope itemtype="http://schema.org/Blog">

        <article id="post-1" class="post-1 post type-post status-publish format-standard has-post-thumbnail hentry category-fashion tag-music tag-video" itemscope itemtype="http://schema.org/Article">
            <header class="wrapper entry-header page-header">
                <div class="entry-meta">
                    <span class="vcard author" itemprop="author" itemscope="itemscope" itemtype="http://schema.org/Person">
                        <span>By</span>
                        <a href="../author/jane/index.html" class="url fn n" rel="author" itemprop="url">
                            <span itemprop="name">@Model.Author.FirstName @Model.Author.LastName</span>
                        </a>
                    </span>
                    <span class="entry-category"><a href="../category/fashion/index.html">@Model.Category.Name</a></span><time class="entry-date updated" datetime="@Model.PostDate" itemprop="datePublished">@Model.PostDate</time>
                </div>

                <div class="title-with-sep single-title">
                    <h1 class="entry-title" itemprop="headline">@Model.Headline</h1>
                </div>
            </header>

            <div class="wrapper" style="width:1200px">
                <div class="grids">
                    <div class="grid-8 column-1">

                        <div class="entry-media">
                            <figure class="base-image"><img width="690" height="460" src="@Model.ImageUrl" class="attachment-medium-size wp-post-image" alt="see" itemprop="image" /></figure>
                        </div>



                        <div class="single-box clearfix entry-content" itemprop="articleBody">
                            @Html.Raw(@Model.Content)
                        </div><!-- .entry-content -->
                        <div class="single-box tag-box clearfix">
                            <h3 class="title">Tags</h3>
                            @foreach (Maksimalist.Models.Tag i in Model.Tags)
                            {
                                @Html.Partial("_Tag", i);
                            }

                        </div>
                        <div class="clearfix single-box social-box social-minimal">
                            <h3 class="title">Share on</h3>
                            <ul>
                                <li class="share-facebook">
                                    <a href="@Model.Author.FacebookUrl" target="blank">
                                        <i class="icomoon-facebook"></i>
                                        Facebook
                                    </a>
                                </li>
                                <li class="share-twitter">
                                    <a href="@Model.Author.TwitterUrl" target="_blank">
                                        <i class="icomoon-twitter"></i>
                                        Twitter
                                    </a>
                                </li>
                                <li class="share-pinterest">
                                    <a href="@Model.Author.Pinterest" target="_blank">
                                        <i class="icomoon-pinterest"></i>
                                        Pinterest
                                    </a>
                                </li>
                                <li class="share-gplus">
                                    <a href="@Model.Author.SpotifyUrl" target="_blank">
                                        <i class="icomoon-google-plus"></i>
                                        Google +
                                    </a>
                                </li>
                                <li class="share-linkedin">
                                    <a href="http://www.linkedin.com/shareArticle?mini=true&url=http://themesindep.com/simplemag/standard-post/&title=Standard%20Post&source=SimpleMag">
                                        <i class="icomoon-linkedin"></i>
                                        LinkedIn
                                    </a>
                                </li>
                                <li class="share-mail">
                                    <a href="@Model.Author.Email">
                                        <i class="icomoon-envelope"></i>
                                        Email
                                    </a>
                                </li>
                            </ul>
                        </div><!-- social-box -->
                        <div class="single-box author-box single-author-box">
                            <ul class="author-tabs-button clearfix">
                                <li><a href="index.html#author-bio">Bio</a></li>
                                <li><a href="index.html#author-posts">Latest Posts</a></li>
                            </ul>

                            <div class="author-tabs-content">
                                <div class="clearfix inner">

                                    <div id="author-bio">
                                        <div class="avatar">
                                            <a href="../author/jane/index.html">
                                                <img alt='@Model.Author.FirstName @Model.Author.LastName' src='@Model.Author.ProfilePicture' class='avatar avatar-70 photo' height='70' width='70' />
                                            </a>
                                        </div><!-- .avatar -->
                                        <div class="author-info" itemprop="author" itemscope="itemscope" itemtype="http://schema.org/Person">
                                            <span class="vcard author">
                                                <span class="fn">
                                                    <a href="../author/jane/index.html" rel="author" itemprop="url">
                                                        <span itemprop="name">@Model.Author.FirstName @Model.Author.LastName</span>
                                                    </a>
                                                </span>
                                            </span>
                                            <p itemprop="description">
                                                @Model.Author.Bio
                                            </p>
                                        </div><!-- .info -->
                                        <ul class="author-social">

                                            <li>
                                                <a class="twitter-link" href="https://twitter.com/twitter">
                                                    Twitter
                                                </a>
                                            </li>

                                            <li>
                                                <a class="facebook-link" href="http://facebook.com/facebook">
                                                    Facebook
                                                </a>
                                            </li>

                                            <li>
                                                <a class="google-link" href="http://plus.google.com/+google?rel=author">
                                                    Google+
                                                </a>
                                            </li>

                                            <li>
                                                <a class="pinterest-link" href="http://pinterest.com/pinterest">
                                                    Pinterest
                                                </a>
                                            </li>


                                        </ul><!-- .author-social -->
                                    </div><!-- #author-bio -->

                                    <div id="author-posts">
                                        <div class="avatar">
                                            <a href="../author/jane/index.html">
                                                <img alt='Jane Doe' src='../wp-content/uploads/sites/2/2013/05/avatar-1.jpg' class='avatar avatar-109 photo' height='109' width='109' />
                                            </a>
                                        </div><!-- .avatar -->
                                        <div class="author-info">
                                            Latest Posts By                    <a href="../author/jane/index.html" rel="author">
                                                Jane Doe
                                            </a>
                                            <ul>
                                                <li>
                                                    <a href="../gallery-post-format/index.html">Gallery Post Format</a>
                                                </li>
                                                <li>
                                                    <a href="../typography/index.html">Typography</a>
                                                </li>
                                                <li>
                                                    <a href="../sound-cloud-audio/index.html">Sound Cloud Audio</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div><!-- #author-posts -->

                                </div>
                            </div>

                        </div><!-- .tabs -->

                        <nav class="single-box clearfix nav-single">
                            <div class="nav-previous">
                                <a href="../demo-post-11/index.html" rel="prev"><i class="icomoon-chevron-left"></i><span class="sub-title">Previous article</span>Lacus enim ac dui</a>
                            </div>

                            <span class="sep"></span>

                            <div class="nav-next">
                                <a href="../gallery-post-format/index.html" rel="next"><i class="icomoon-chevron-right"></i><span class="sub-title">Next article</span>Gallery Post Format</a>
                            </div>
                        </nav><!-- .nav-single -->


                        <div class="single-box related-posts">

                            <h3 class="title">You may also like</h3>

                            <div class="grids entries">
                                <div class="carousel">


                                    <div class="item">
                                        <figure class="entry-image">
                                            <a href="../gallery-post-format/index.html">
                                                <img width="296" height="197" src="../wp-content/uploads/sites/2/2013/05/8470852074_4031c64512_o-296x197.jpg" class="attachment-rectangle-size-small wp-post-image" alt="8470852074_4031c64512_o" />
                                            </a>
                                        </figure>
                                        <header class="entry-header">
                                            <h4>
                                                <a href="../gallery-post-format/index.html">Gallery Post Format</a>
                                            </h4>
                                        </header>
                                    </div>


                                    <div class="item">
                                        <figure class="entry-image">
                                            <a href="../demo-post-11/index.html">
                                                <img width="296" height="197" src="../wp-content/uploads/sites/2/2012/07/5580460242_95ed41b6a1_o-296x197.jpg" class="attachment-rectangle-size-small wp-post-image" alt="5580460242_95ed41b6a1_o" />
                                            </a>
                                        </figure>
                                        <header class="entry-header">
                                            <h4>
                                                <a href="../demo-post-11/index.html">Lacus enim ac dui</a>
                                            </h4>
                                        </header>
                                    </div>


                                    <div class="item">
                                        <figure class="entry-image">
                                            <a href="../demo-post-16/index.html">
                                                <img width="296" height="197" src="../wp-content/uploads/sites/2/2012/05/6991714002_1416a397fa_o-296x197.jpg" class="attachment-rectangle-size-small wp-post-image" alt="6991714002_1416a397fa_o" />
                                            </a>
                                        </figure>
                                        <header class="entry-header">
                                            <h4>
                                                <a href="../demo-post-16/index.html">Tincidunt condimentum</a>
                                            </h4>
                                        </header>
                                    </div>




                                </div>
                            </div>
                            <a class="prev carousel-nav" href="index.html#"><i class="icomoon-chevron-left"></i></a>
                            <a class="next carousel-nav" href="index.html#"><i class="icomoon-chevron-right"></i></a>

                        </div><!-- .single-box .related-posts -->


                        <div id="comments" class="single-box comments-area">

                           
                            <div class="fb-comments" data-href="@Request.Url.AbsoluteUri" data-numposts="5" data-colorscheme="light"></div>
                    </div><!-- .grid-8 -->
                     
                </div><!-- .grids -->
                    @Html.Partial("_rightnav", (Maksimalist.Models.RightNavViewModel)ViewBag.RightNav)
            </div><!-- .wrapper -->
    
        </article>

    </main><!-- #content -->

    <div class="widget slide-dock">
        <a class="close-dock" href="index.html#" title="Close"><i class="icomoon-remove-sign"></i></a>
        <h3>More Stories</h3>

        <div class="entries">


            <article>
                <figure class="entry-image">
                    <a href="../nemo-enim-ipsam-voluptatem/index.html">
                        <img width="330" height="220" src="../wp-content/uploads/sites/2/2013/05/7181714469_9814b469a3_b-330x220.jpg" class="attachment-rectangle-size wp-post-image" alt="7181714469_9814b469a3_b" />
                    </a>
                </figure>

                <header class="entry-header">
                    <h4>
                        <a href="../nemo-enim-ipsam-voluptatem/index.html">
                            Nemo enim ipsam voluptatem
                        </a>
                    </h4>
                </header>

                <div class="entry-summary">
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes,&#8230;</p>
                </div>
            </article>



        </div>

    </div><!-- .slide-dock -->



</body>
</html>