@model Maksimalist.Models.Post

<div id="fb-root"></div>
<script>
(function (d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/tr_TR/sdk.js#xfbml=1&appId=780985738613644&version=v2.0";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<section id="content-container" class="slideshow-container">
    <header class="bottom-ruler hide-overflow">
        <h1 class="slideshow-header">
            @Model.Headline
        </h1>
    </header>
    <ol id="slideshow-78806" class="slideshow" style="display:inline">

        @{
            int iter = 0;
        }
        @foreach (var i in Model.Gallery.Matter)
        {
            iter++;
            <li class="slide">
                <div class="large-col col-left right-ruler">

                    <div class="slide-image-container med-col col-right inset-left-1 inset-right-1 left-ruler offset-left-1">
                        <div class="prev-arrow icon-arrow-left Prev-Arrow inactive"></div>

                        <div class="image-container">

                            <img class="slide-image displayOnVisible" src="@i.Url">

                        </div>
                        <div class="next-arrow icon-arrow-right Next-Arrow inactive"></div>
                    </div>

                    <div class="small-col popout">
                        <div class="small-col bottom-ruler hide-overflow inset-left-1">
                            <div class="menu-article-share">
                               <p>SHARES</p>
                            </div>
                            <div class="col-right">
                                <button class="share-button-pinterest icon-pinterest"></button>
                            </div>
                            <div class="fb-share-button col-right" data-href="@Request.Url.AbsoluteUri" data-layout="button"></div>
                           
                        </div>

                        <div class="inset-left-1">
                            <div class="col-right">
                                <span class="slide-number-text displayOnVisible">@iter of @Model.Gallery.Matter.Count()</span>
                            </div>
                        </div>
                    </div>


                    <div class="left inset-left-1 inset-right-1 popout-drag">

                        <p class="displayOnVisible slideshow-p-text">@i.Content</p>

                    </div>
                </div>
            </li>
        }

    </ol>
    @Html.Partial("_rightnav", (Maksimalist.Models.RightNavViewModel)ViewBag.RightNav)

    <div class="breadcrumb" itemscope="itemscope" itemprop="breadcrumb">
        <a href="~/kategori/@Model.Category.Name" itemprop="url"><span itemprop="name">@Model.Category.Name</span></a> /
        <span itemprop="title" class="sub">@Model.Headline</span>


    </div><!--/.breadcrumb-->
    <div class="fb-comments" data-href="@Request.Url.AbsoluteUri" data-width="750" data-numposts="5" data-colorscheme="light"></div>

</section>

<script>
    
    $(document).ready(function () {
        $(".slide").first().addClass("active isVisible");
    });
    $(".Prev-Arrow").click(function () {
        if ($(".active").is(':first-child')) {

        }
        else {
            $(".active").removeClass("active isVisible").prev().addClass("active isVisible");
        }
    });
    $(".Next-Arrow").click(function () {
        if ($(".active").is(':last-child')) {

        }
        else {
            $(".active").removeClass("active isVisible").next().addClass("active isVisible");
        }

    });
    $(".slide-image-container").hover(
   function () {
       $(".Prev-Arrow").removeClass("inactive");
       $(".Next-Arrow").removeClass("inactive");
   }, function () {
       $(".Prev-Arrow").addClass("inactive");
       $(".Next-Arrow").addClass("inactive");
   }
 );
</script>