@model Maksimalist.Models.Post
@{
    
    Layout = "~/Views/Shared/_MobileLayout.cshtml";
    int iter = 0;
}



<div class="category">
    <a href="~/kategori/@Model.UrlSlug" title="@Model.Category.Name" class="category-link">@Model.Category.Name</a> | @String.Format("{0:dd MMMM yyyy}", Model.PostDate)
</div>
<article class="slideshow-detail">
    <div id="article-header">
        <h2>@Model.Headline</h2>
                <div class="body-content">

            <div style="clear:both"></div>
        </div><!--/body-content-->
    </div><!--/article-header-->
    <section class="slides" >
        <ul>
         
            @foreach (var i in Model.Gallery.Matter)
               {
                   iter++;
                <li id="slide@iter" class="slide">
                    <div class="slide-count">
                        @iter <em>of</em> @Model.Gallery.Matter.Count()
                    </div>
                    <div class="slide-img">

                        <img class="slide-img" src="@i.Url">


                    </div>
                    <div class="slide-body">
                        <p>@i.Content</p>


                    </div>
                </li>
               }
        </ul>
    </section>
    <div class="single-box author-box single-author-box">


        <div class="author-tabs-content">
            <div class="clearfix inner">

                <div id="author-bio">
                    <div class="avatar">

                        <img alt='@Model.Author.FirstName @Model.Author.LastName' src='@Model.Author.ProfilePicture' class='avatar avatar-70 photo' height='70' width='70' />

                    </div><!-- .avatar -->
                    <div class="author-info" itemprop="author" itemscope="itemscope" itemtype="http://schema.org/Person">
                        <span class="vcard author">
                            <span class="fn">

                                <span itemprop="name">@Model.Author.FirstName @Model.Author.LastName</span>

                            </span>
                        </span>
                        <p itemprop="description">

                        </p>
                    </div><!-- .info -->
                    <ul class="author-social">

                        <li>
                            <a class="twitter-link" href="@Model.Author.TwitterUrl">
                                Twitter
                            </a>
                        </li>

                        <li>
                            <a class="instagram-link" href="@Model.Author.InstagramUrl">
                                Instagram
                            </a>
                        </li>

                        <li>
                            <a class="pinterest-link" href="@Model.Author.Pinterest">
                                Pinterest
                            </a>
                        </li>


                    </ul><!-- .author-social -->
                </div><!-- #author-bio -->



            </div>
        </div>

    </div>
    <ul class="content-social">
        <h4>PAYLAŞ!</h4>
        <li class="facebook">
            <a class="fb" href="http://www.facebook.com/sharer.php?u=@Request.Url.AbsoluteUri" target="_blank">
                <i class="icon-facebook"></i><span>Paylaş</span>
            </a>
        </li>
        <li class="twitter">
            <a href="https://twitter.com/intent/tweet?original_referer=@Request.Url.AbsoluteUri;text=@Model.Headline;tw_p=tweetbutton&amp;url=@Request.Url.AbsoluteUri" target="_blank">
                <i class="icon-twitter"></i><span>Tweet</span>
            </a>
        </li>
    </ul>


</article>
