@model IEnumerable<Maksimalist.Models.Post>
@{
    ViewBag.Title = "Index";
}

<section id="content" role="main" class="clearfix animated">
    <div class="wrapper">

        <header class="entry-header page-header ruler-background">
            <small>Arama Sonuçları:</small><br>                <div class="title-with-sep">
                <h1 class="title">@ViewBag.Search</h1>
            </div>
        </header><!-- .page-header -->

        <div class="grids">
            <div class="grid-8 column-1">


                <div class="entries list-layout">
                    @if (Model.FirstOrDefault() == null)
                    {
                        <p>Hiçbir Sonuç Bulunamadı</p>
                    }
                    else
                    {
                        foreach (var i in Model)
                        {

                            @Html.Partial("_Post", i)

                        }
                    }
                   
                  


                </div>



            </div><!-- .grid-8 -->

            @Html.Partial("_rightnav", (Maksimalist.Models.RightNavViewModel)ViewBag.RightNav)
        </div><!-- .grids -->

        <nav class="navigation paging-navigation" role="navigation">
            <div class="loop-pagination">
                @if (ViewBag.Page != 1)
                {
                <a class="previous page-numbers" href="@Request.Url.GetLeftPart(UriPartial.Path)?s=@ViewBag.Search&page=@(ViewBag.Page-1)">Previous</a>
                }
                @for (int i = 1; i <= ViewBag.PageCount; i++)
                {
                   
                    if (ViewBag.Page == i)
                    {
                        <span class="page-numbers current">@i</span>
                    }
                    else
                    {
                         <a class="page-numbers" href="@Request.Url.GetLeftPart(UriPartial.Path)?s=@ViewBag.Search&page=@i">@i</a>
                    }
                   
                }
                @if (ViewBag.Page != ViewBag.PageCount)
                {
                    <a class="next page-numbers" href="@Request.Url.GetLeftPart(UriPartial.Path)?s=@ViewBag.Search&page=@(ViewBag.Page+1)">Next</a>
                }
               
            </div>
        </nav><!-- .navigation -->

    </div>
</section>
