@model Maksimalist.Models.Gallery
@{

}
<head>
    <title>Edit</title>

    
    

    <style>
        #sortable {
            list-style-type: decimal;
        }

        textarea {
            resize: none;
        }

      

        #actions {
            margin: 2em 0;
        }


        /* Mimic table appearance */


        div.table .file-row > div {
            display: table-cell;
            vertical-align: top;
            padding: 8px;
            padding-top: 0px;
        }

        
    </style>
   
</head>

<h2>Edit</h2>
<script>
    $(function () {
        $("#sortable").sortable();
        $("#sortable").disableSelection();
    });
</script>

@using (Html.BeginForm())
{

    <div class="table table-striped files" id="previews">
        <h1>Gallery Id: @Model.Id</h1>
        <ul id="sortable">

            @foreach (var item in Model.Matter)
            {

                <li class="ui-state-default">
                    <div class="file-row dz-image-preview">
                        <!-- This is used as the file preview template -->

                        <div>
                            <span class="preview"><img style="width:100px;height:100px;" src="@item.Url"></span>
                        </div>
                        <div>
                            <input type="hidden" name="id" value="@item.Id" />

                        </div>
                        <div>
                            @item.Name
                        </div>
                        <div>
                            <textarea class="form-control" rows="4" cols="100" name="Content">@item.Content</textarea>
                        </div>


                    </div>
                </li>
            }
            

        </ul>
        <button type="Submit" class="btn btn-default btn-lg text-center" id="SaveButton" >Save</button>
    </div>
   
}


