@model ICollection<Maksimalist.Models.Post>
@{

    Layout = "~/Views/Shared/_MobileLayout.cshtml";
}

<h1 class="page-title">@ViewBag.CategoryName</h1>
<ul class="pagination-list list-container">
    @foreach (var i in Model)
    {
        if (i.HasGallery)
        {
            <li class="list-item">
                <a class="img-thumb" href="~/post/galeri/@i.Category.UrlSlug/@i.SubCategory.UrlSlug/@i.UrlSlug" title="Read Full Post">
                    <img src="@i.ContentImage">

                </a>
                <div class="list-meta">
                    <div class="post-date">@String.Format("{0:dd MMMM yyyy}", i.PostDate)</div><div><a href="~/kategori/@i.Category.UrlSlug" title="@i.Category.Name">@i.Category.Name</a></div>
                </div>
                <a class="list-content" href="~/post/galeri/@i.Category.UrlSlug/@i.SubCategory.UrlSlug/@i.UrlSlug" title="Read Full Post">
                    <h4>@i.Headline</h4>
                </a>
            </li>}
        else
        {
            <li class="list-item">
                <a class="img-thumb" href="~/post/@i.Category.UrlSlug/@i.SubCategory.UrlSlug/@i.UrlSlug" title="Read Full Post">
                    <img src="@i.ContentImage">

                </a>
                <div class="list-meta">
                    <div class="post-date">@String.Format("{0:dd MMMM yyyy}", i.PostDate)</div><div><a href="~/kategori/@i.Category.UrlSlug" title="@i.Category.Name">@i.Category.Name</a></div>
                </div>
                <a class="list-content" href="~/post/@i.Category.UrlSlug/@i.SubCategory.UrlSlug/@i.UrlSlug" title="Read Full Post">
                    <h4>@i.Headline</h4>
                </a>
            </li>}

    }
</ul>
<nav class="navigation paging-navigation" role="navigation">
    <div class="loop-pagination">
        @if (ViewBag.Page != 1)
        {
            <a class="previous page-numbers" href="@Request.Url.GetLeftPart(UriPartial.Path)?page=@(ViewBag.Page-1)">Previous</a>
        }
        @for (int i = 1; i <= ViewBag.PageCount; i++)
        {

            if (ViewBag.Page == i)
            {
                <span class="page-numbers current">@i</span>
            }
            else
            {
                <a class="page-numbers" href="@Request.Url.GetLeftPart(UriPartial.Path)?page=@i">@i</a>
            }

        }
        @if (ViewBag.Page != ViewBag.PageCount)
        {
            <a class="next page-numbers" href="@Request.Url.GetLeftPart(UriPartial.Path)?page=@(ViewBag.Page+1)">Next</a>
        }

    </div>
</nav>



