@model Maksimalist.Models.HomeViewModel

<section id="hero-stories" class="wrapperzzz">

    <div class="wrapperzzz">

        <ul class="MansetList">
           @foreach (var i in Model.Manset) 
           { 
            @Html.Partial("_Manset", i)
           }
        </ul>
    </div>
</section>

<div class="wrapper">
    <div class="grids" style="margin-top:20px;">
        <div class="grid-9">


            <section class="wrapper home-section latest-reviews">

                <header class="section-header">
                    <div class="title-with-sep">
                        <h2 class="title">MODA</h2>
                        <span class="sub-title">Acayip Moda Haberleri</span>
                    </div>
                </header>

                <div class="grids entries">
                    @foreach (var i in Model.Moda)
                    {
                        @Html.Partial("_Post", i)
                    }
                </div>

                <header class="section-header">
                    <div class="title-with-sep">
                        <h2 class="title">GÜZELLİK</h2>
                        <span class="sub-title">SİZ DE OLABİLİRSİNİZ</span>
                    </div>
                </header>

                <div class="grids entries">

                    @foreach (var i in Model.Guzellik)
                    {
                        @Html.Partial("_Post", i)
                    }
                </div>
                <header class="section-header">
                    <div class="title-with-sep">
                        <h2 class="title">ALIŞVERİŞ</h2>
                        <span class="sub-title">HE YA HE</span>
                    </div>
                </header>

                <div class="grids entries">

                    @foreach (var i in Model.Alisveris)
                    {
                        @Html.Partial("_Post", i)
                    }

                </div>
                <header class="section-header">
                    <div class="title-with-sep">
                        <h2 class="title">ÜNLÜLER</h2>
                        <span class="sub-title">LOREOROEKRA</span>
                    </div>
                </header>

                <div class="grids entries">

                    @foreach (var i in Model.Unluler)
                    {
                        @Html.Partial("_Post", i)
                    }

                </div>
                <div style="width:380px;display:inline-block">
                    <header class="section-header">
                        <div class="title-with-sep">
                            <h2 class="title">ŞEHİR-YAŞAM</h2>
                        </div>
                    </header>

                    <div class="grids entries">

                        @foreach (var i in Model.SehirYasam)
                        {
                            @Html.Partial("_Post2", i)
                        }

                    </div>
                </div>
                <div style="width:380px;display:inline-block">
                    <header class="section-header">
                        <div class="title-with-sep">
                            <h2 class="title">GELİN</h2>
                        </div>
                    </header>

                    <div class="grids entries">

                        @foreach (var i in Model.Gelin)
                        {
                            @Html.Partial("_Post2", i)
                        }

                    </div>
                </div>
                <header class="section-header">
                    <div class="title-with-sep">
                        <h2 class="title">VİDEO</h2>
                    </div>
                </header>

                <div class="grids entries">

                    @foreach (var i in Model.Video)
                    {
                        @Html.Partial("_Post", i)
                    }

                </div>
            </section>
        </div>



        @Html.Partial("_rightnav", (Maksimalist.Models.RightNavViewModel)ViewBag.RightNav)


    </div><!-- .grid-8 -->
    



</div><!-- .wrapper -->
