@model IEnumerable<Maksimalist.Models.Post>
<head>
    <title>Index</title>
    <link rel='stylesheet' id='sc-frontend-style-css' href='~/Content/frontend-style-ver=4.0.css' type='text/css' media='all' />
    <link rel='stylesheet' id='main-style-css' href='~/Content/style-ver=4.0.css' type='text/css' media='all' />
    <link rel='stylesheet' id='redux-google-fonts-css' href='http://fonts.googleapis.com/css?family=Oswald%7CLato&subset=latin&ver=1411386557' type='text/css' media='all' />
    <script type='text/javascript' src='~/Scripts/jquery-ver=1.11.1.js'></script>
    <script type='text/javascript' src='~/Scripts/jquery-migrate.min-ver=1.2.1.js'></script>
    <style>
        #hero-stories {
            color: rgb(34, 34, 34);
            display: block;
            font-family: TiemposText, serif;
            height: 384px;
            margin-bottom: 0px;
            margin-left: 0px;
            margin-right: 0px;
            margin-top: 0px;
            width: 1349px;
        }

            #hero-stories .wrapperzzz {
                position: relative;
                width: 1280px;
                height: 384px;
                margin: 0 auto;
            }

        .wrapperzzz {
            width: 1050px;
            margin-left: auto;
            margin-right: auto;
            display: block;
        }

        .MansetList {
            margin: 0;
            padding: 0;
            list-style: none;
            list-style-image: none;
        }

        #hero-stories ul li {
            position: relative;
            float: left;
            width: 25%;
            display: list-item;
            text-align: -webkit-match-parent;
        }

            #hero-stories ul li img {
                float: left;
                width: 100%;
                max-height: 384px;
                height: auto;
            }

            #hero-stories ul li h2 {
                width: 100%;
                position: absolute;
                bottom: 0;
                left: 0;
                margin: 0;
                padding: 22px 0;
                background: rgba(0,0,0,0.7);
                color: #FFF;
                text-align: center;
                font-size: 26px;
                display: table;
            }

        .One-Article {
            -webkit-font-smoothing: antialiased;
            color: rgb(68, 68, 68);
            display: inline-block;
            font-family: Lato;
            font-size: 16px;
            font-style: normal;
            font-weight: normal;
            height: 92px;
            letter-spacing: 3.20000004768372px;
            line-height: 24px;
            margin-bottom: 30px;
            text-align: center;
            text-transform: uppercase;
            width: 250px;
            zoom: 1;
            clear: none;
        }

        .One-Article-Div {
            -webkit-background-clip: border-box;
            -webkit-background-origin: padding-box;
            -webkit-background-size: auto;
            -webkit-font-smoothing: antialiased;
            background-attachment: scroll;
            background-clip: border-box;
            background-color: rgba(0, 0, 0, 0);
            background-origin: padding-box;
            background-size: auto;
            color: rgb(0, 0, 0);
            display: inline-block;
            font-family: Lato;
            font-size: 42px;
            font-style: normal;
            font-weight: normal;
            height: 92px;
            letter-spacing: 3.20000004768372px;
            line-height: 42px;
            text-align: center;
            text-transform: uppercase;
            width: 250px;
            zoom: 1;
            clear: none;
        }
    </style>

</head>

@{
    ViewBag.Title = "Home Page";
}
<section id="hero-stories" class="wrapperzzz">

    <div class="wrapperzzz">

        <ul class="MansetList">
            @Html.Partial("_Manset", Model.ElementAt(0))
            @Html.Partial("_Manset", Model.ElementAt(1))
            @Html.Partial("_Manset", Model.ElementAt(2))
            @Html.Partial("_Manset", Model.ElementAt(3))
        </ul>
    </div>
</section>

<div class="wrapper">
    <div class="grids">
        <div class="grid-8">


            <section class="wrapper home-section latest-reviews">

                <header class="section-header">
                    <div class="title-with-sep">
                        <h2 class="title">MODA</h2>
                        <span class="sub-title">Acayip Moda Haberleri</span>
                    </div>
                </header>

                <div class="grids entries">

                    @Html.Partial("_Post", Model.ElementAt(0))
                    @Html.Partial("_Post", Model.ElementAt(1))
                    @Html.Partial("_Post", Model.ElementAt(2))

                </div>

                <header class="section-header">
                    <div class="title-with-sep">
                        <h2 class="title">GÜZELLİK</h2>
                        <span class="sub-title">SİZ DE OLABİLİRSİNİZ</span>
                    </div>
                </header>

                <div class="grids entries">

                    @Html.Partial("_Post", Model.ElementAt(0))
                    @Html.Partial("_Post", Model.ElementAt(1))
                    @Html.Partial("_Post", Model.ElementAt(2))

                </div>
                <header class="section-header">
                    <div class="title-with-sep">
                        <h2 class="title">ALIŞVERİŞ</h2>
                        <span class="sub-title">HE YA HE</span>
                    </div>
                </header>

                <div class="grids entries">

                    @Html.Partial("_Post", Model.ElementAt(0))
                    @Html.Partial("_Post", Model.ElementAt(1))
                    @Html.Partial("_Post", Model.ElementAt(2))

                </div>
                <header class="section-header">
                    <div class="title-with-sep">
                        <h2 class="title">ÜNLÜLER</h2>
                        <span class="sub-title">LOREOROEKRA</span>
                    </div>
                </header>

                <div class="grids entries">

                    @Html.Partial("_Post", Model.ElementAt(0))
                    @Html.Partial("_Post", Model.ElementAt(1))
                    @Html.Partial("_Post", Model.ElementAt(2))

                </div>
                <div style="width:750px">
                    <div style="width:250px;display:inline-block">
                        <header class="One-Article">
                            <div class="One-Article-Div">
                                <h2 class="title">ŞEHİR-YAŞAM</h2>
                                <span class="sub-title">IPSUM</span>
                                <div class="grids entries" style="display:inline-block">

                                    @Html.Partial("_Post", Model.ElementAt(0))

                                </div>
                            </div>
                        </header>

                       
                    </div>
                    <div style="width:250px;display:inline-block">
                        <header class="One-Article">
                            <div class="One-Article-Div">
                                <h2 class="title">ŞEHİR-YAŞAM</h2>
                                <span class="sub-title">IPSUM</span>
                            </div>
                        </header>

                        <div class="grids entries" style="display:inline-block">

                            @Html.Partial("_Post", Model.ElementAt(0))

                        </div>
                    </div>
                </div>
        </div>





        </section><!-- Latest Posts -->
    </div><!-- .grid-8 -->

    <div class="grid-4 column-2">
        <aside class="sidebar" role="complementary" itemscope itemtype="http://schema.org/WPSideBar">
            <div id="ti_latest_reviews-2" class="widget widget_ti_latest_reviews">
                <h3>Latest Reviews</h3>
                <ul class="score-box">
                    <li class="clearfix">
                        <span class="total">8.2</span>
                        <a href="../sound-cloud-audio/index.html">
                            Sound Cloud Audio
                        </a>
                        <div class="score-outer">
                            <div class="score-line" style="width:82%;"><span></span></div>
                        </div>
                    </li>
                    <li class="clearfix">
                        <span class="total">6.6</span>
                        <a href="../maecenas-nec-nunc-et-ligula-egestas/index.html">
                            Maecenas nec nunc et ligu...
                        </a>
                        <div class="score-outer">
                            <div class="score-line" style="width:66%;"><span></span></div>
                        </div>
                    </li>
                    <li class="clearfix">
                        <span class="total">5.8</span>
                        <a href="../pellentesque-habitant-morbi/index.html">
                            Pellentesque habitant mor...
                        </a>
                        <div class="score-outer">
                            <div class="score-line" style="width:58%;"><span></span></div>
                        </div>
                    </li>
                    <li class="clearfix">
                        <span class="total">7.8</span>
                        <a href="../phasellus-ullamcorper-ipsum-rutrum/index.html">
                            Phasellus ullamcorper ips...
                        </a>
                        <div class="score-outer">
                            <div class="score-line" style="width:78%;"><span></span></div>
                        </div>
                    </li>
                    <li class="clearfix">
                        <span class="total">8.3</span>
                        <a href="../leo-eget-bibendum-sodales/index.html">
                            Leo eget bibendum sodales
                        </a>
                        <div class="score-outer">
                            <div class="score-line" style="width:83%;"><span></span></div>
                        </div>
                    </li>

                </ul>

            </div><div id="ti_latest_posts-3" class="widget widget_ti_latest_posts">
                <h3>Latest Posts</h3>
                <div class="widget-posts-entries">

                    <ul class="clearfix">

                        <li>
                            <figure class="entry-image">
                                <a href="../gallery-post-format/index.html">
                                    <img width="330" height="220" src="../wp-content/uploads/sites/2/2013/05/8470852074_4031c64512_o-330x220.jpg" class="attachment-rectangle-size wp-post-image" alt="8470852074_4031c64512_o" />
                                </a>
                            </figure>
                            <span><a href="../category/fashion/index.html">Fashion</a></span>                           	<a class="widget-post-title" href="../gallery-post-format/index.html">Gallery Post Format</a>
                        </li>


                        <li>
                            <figure class="entry-image">
                                <a href="../typography/index.html">
                                    <img width="330" height="220" src="../wp-content/uploads/sites/2/2013/05/typography-330x220.jpg" class="attachment-rectangle-size wp-post-image" alt="typography" />
                                </a>
                            </figure>
                            <span><a href="../category/travel/index.html">Travel</a></span>                           	<a class="widget-post-title" href="../typography/index.html">Typography</a>
                        </li>


                        <li>
                            <figure class="entry-image">
                                <a href="../sound-cloud-audio/index.html">
                                    <img width="330" height="220" src="../wp-content/uploads/sites/2/2013/05/street-330x220.jpg" class="attachment-rectangle-size wp-post-image" alt="street" />
                                </a>
                            </figure>
                            <span><a href="../category/music/index.html">Music</a></span>                           	<a class="widget-post-title" href="../sound-cloud-audio/index.html">Sound Cloud Audio</a>
                        </li>


                    </ul>
                </div>
            </div><div id="ti_most_commented-2" class="widget widget_ti_most_commented">
                <h3>Most Commented</h3>
                <ul>
                    <li class="clearfix score-1">
                        <span>
                            <i>7</i>
                        </span>
                        <a href="../gallery-post-format/index.html">
                            Gallery Post Format
                        </a>
                    </li>
                    <li class="clearfix score-2">
                        <span>
                            <i>3</i>
                        </span>
                        <a href="../pellentesque-habitant-morbi/index.html">
                            Pellentesque habitant morbi
                        </a>
                    </li>
                    <li class="clearfix score-3">
                        <span>
                            <i>2</i>
                        </span>
                        <a href="../cum-sociis-natoque/index.html">
                            Cum sociis natoque
                        </a>
                    </li>
                </ul>

            </div><div id="ti_site_authors-4" class="widget widget_ti_site_authors">
                <h3>Our Authors</h3>
                <div class="inner">
                    <ul class="carousel">

                        <li class="clearfix">
                            <a class="author-avatar" href="../author/jane/index.html" title="Jane Doe" rel="author">
                                <img alt='Jane Doe' src='../wp-content/uploads/sites/2/2013/05/avatar-1.jpg' class='avatar avatar-78 photo' height='78' width='78' />
                            </a>
                        </li>


                        <li class="clearfix">
                            <a class="author-avatar" href="../author/JackRiley/index.html" title="Jack Riley" rel="author">
                                <img alt='Jack Riley' src='../wp-content/uploads/sites/2/2013/05/avatar-8.jpg' class='avatar avatar-78 photo' height='78' width='78' />
                            </a>
                        </li>


                        <li class="clearfix">
                            <a class="author-avatar" href="../author/BillKing/index.html" title="Bill King" rel="author">
                                <img alt='Bill King' src='http://themesindep.com/simplemag/wp-content/uploads/sites/2/2013/05/avatar-11.jpg' class='avatar avatar-78 photo' height='78' width='78' />
                            </a>
                        </li>


                        <li class="clearfix">
                            <a class="author-avatar" href="../author/EricBishop/index.html" title="Eric Bishop" rel="author">
                                <img alt='Eric Bishop' src='../wp-content/uploads/sites/2/2013/05/avatar-3.jpg' class='avatar avatar-78 photo' height='78' width='78' />
                            </a>
                        </li>


                        <li class="clearfix">
                            <a class="author-avatar" href="../author/ChristopherHughes/index.html" title="Christopher Hughes" rel="author">
                                <img alt='Christopher Hughes' src='../wp-content/uploads/sites/2/2013/05/avatar-7-78x78.jpg' class='avatar avatar-78 photo' height='78' width='78' />
                            </a>
                        </li>


                        <li class="clearfix">
                            <a class="author-avatar" href="../author/VincentMiller/index.html" title="Vincent Miller" rel="author">
                                <img alt='Vincent Miller' src='../wp-content/uploads/sites/2/2013/05/avatar-5.jpg' class='avatar avatar-78 photo' height='78' width='78' />
                            </a>
                        </li>


                        <li class="clearfix">
                            <a class="author-avatar" href="../author/CurtisThomas/index.html" title="Curtis Thomas" rel="author">
                                <img alt='Curtis Thomas' src='../wp-content/uploads/sites/2/2013/05/avatar-10.jpg' class='avatar avatar-78 photo' height='78' width='78' />
                            </a>
                        </li>


                        <li class="clearfix">
                            <a class="author-avatar" href="../author/GloriaPatterson/index.html" title="Gloria" rel="author">
                                <img alt='Gloria' src='../wp-content/uploads/sites/2/2014/07/Gloria_avatar_1406586316-78x78.jpg' class='avatar avatar-78 photo' height='78' width='78' />
                            </a>
                        </li>


                        <li class="clearfix">
                            <a class="author-avatar" href="../author/EricGraham/index.html" title="Eric Graham" rel="author">
                                <img alt='Eric Graham' src='../wp-content/uploads/sites/2/2013/05/avatar-9.jpg' class='avatar avatar-78 photo' height='78' width='78' />
                            </a>
                        </li>


                        <li class="clearfix">
                            <a class="author-avatar" href="../author/ShirleyMorgan/index.html" title="Shirley Morgan" rel="author">
                                <img alt='Shirley Morgan' src='../wp-content/uploads/sites/2/2014/08/Gloria_avatar_1406586316-78x78.jpg' class='avatar avatar-78 photo' height='78' width='78' />
                            </a>
                        </li>


                        <li class="clearfix">
                            <a class="author-avatar" href="../author/LynnRoberts/index.html" title="Lynn Roberts" rel="author">
                                <img alt='Lynn Roberts' src='../wp-content/uploads/sites/2/2013/05/avatar-5.jpg' class='avatar avatar-78 photo' height='78' width='78' />
                            </a>
                        </li>


                        <li class="clearfix">
                            <a class="author-avatar" href="../author/KarenBlack/index.html" title="Karen Black" rel="author">
                                <img alt='Karen Black' src='../wp-content/uploads/sites/2/2013/05/avatar-1.jpg' class='avatar avatar-78 photo' height='78' width='78' />
                            </a>
                        </li>

                    </ul>
                    <div class="clearfix">
                        <a class="prev carousel-nav" href="index.html#"><i class="icomoon-chevron-left"></i></a>
                        <a class="next carousel-nav" href="index.html#"><i class="icomoon-chevron-right"></i></a>
                    </div>

                </div>

            </div><div id="ti_latest_comments-2" class="widget widget_ti_latest_comments">
                <h3>Latest Comments</h3>
                <ul>
                    <li>
                        <header class="clearfix">
                            <figure>
                                <a href="../gallery-post-format/index.html">
                                    <img alt='Gloria' src='../wp-content/uploads/sites/2/2014/07/Gloria_avatar_1406586316-40x40.jpg' class='avatar avatar-40 photo' height='40' width='40' />
                                </a>
                            </figure>
                            <span class="commentnum">
                                1
                            </span>
                            <span class="comment-author">
                                Gloria
                            </span>
                            <a class="comment-post" href="../gallery-post-format/index.html#comment-641">
                                Gallery Post Format
                            </a>
                        </header>
                        <div class="comment-text">
                            Agreed… Excellent composition, pov and light! Nam ut neque condimentum, vulputate mauris id, feugiat nisi.
                        </div>
                    </li>
                    <li>
                        <header class="clearfix">
                            <figure>
                                <a href="../gallery-post-format/index.html">
                                    <img alt='Jane Doe' src='../wp-content/uploads/sites/2/2013/05/avatar-1.jpg' class='avatar avatar-40 photo' height='40' width='40' />
                                </a>
                            </figure>
                            <span class="commentnum">
                                2
                            </span>
                            <span class="comment-author">
                                Jane Doe
                            </span>
                            <a class="comment-post" href="../gallery-post-format/index.html#comment-639">
                                Gallery Post Format
                            </a>
                        </header>
                        <div class="comment-text">
                            Oh, thank you guys so much for supporting me and keeping in touch with me! Morbi facilisis quam quis velit fermentum ac molestie felis tincidunt
                        </div>
                    </li>
                    <li>
                        <header class="clearfix">
                            <figure>
                                <a href="../gallery-post-format/index.html">
                                    <img alt='Shirley Morgan' src='../wp-content/uploads/sites/2/2014/08/Gloria_avatar_1406586316-40x40.jpg' class='avatar avatar-40 photo' height='40' width='40' />
                                </a>
                            </figure>
                            <span class="commentnum">
                                3
                            </span>
                            <span class="comment-author">
                                Shirley Morgan
                            </span>
                            <a class="comment-post" href="../gallery-post-format/index.html#comment-637">
                                Gallery Post Format
                            </a>
                        </header>
                        <div class="comment-text">
                            Fantastic. Another fave, of course I think they all are. Duis ornare vitae nibh vitae malesuada. Nunc blandit lorem quis metus volutpat tincidunt.
                        </div>
                    </li>
                </ul>

            </div><div id="tag_cloud-3" class="widget widget_tag_cloud">
                <h3>Tags</h3><div class="tagcloud">
                    <a href='../tag/audio/index.html' class='tag-link-24' title='1 topic' style='font-size: 8pt;'>Audio</a>
                    <a href='../tag/black-n-white/index.html' class='tag-link-19' title='6 topics' style='font-size: 16.020833333333pt;'>Black n White</a>
                    <a href='../tag/city/index.html' class='tag-link-23' title='2 topics' style='font-size: 10.625pt;'>City</a>
                    <a href='../tag/creative/index.html' class='tag-link-14' title='17 topics' style='font-size: 22pt;'>Creative</a>
                    <a href='../tag/forest/index.html' class='tag-link-25' title='1 topic' style='font-size: 8pt;'>forest</a>
                    <a href='../tag/lake/index.html' class='tag-link-20' title='1 topic' style='font-size: 8pt;'>Lake</a>
                    <a href='../tag/music/index.html' class='tag-link-12' title='5 topics' style='font-size: 15pt;'>Music</a>
                    <a href='../tag/nature/index.html' class='tag-link-17' title='8 topics' style='font-size: 17.479166666667pt;'>Nature</a>
                    <a href='../tag/paris/index.html' class='tag-link-22' title='1 topic' style='font-size: 8pt;'>Paris</a>
                    <a href='../tag/portrait/index.html' class='tag-link-16' title='6 topics' style='font-size: 16.020833333333pt;'>Portrait</a>
                    <a href='../tag/river/index.html' class='tag-link-15' title='3 topics' style='font-size: 12.375pt;'>River</a>
                    <a href='../tag/sky/index.html' class='tag-link-21' title='4 topics' style='font-size: 13.833333333333pt;'>Sky</a>
                    <a href='../tag/travel/index.html' class='tag-link-6' title='1 topic' style='font-size: 8pt;'>Travel</a>
                    <a href='../tag/video/index.html' class='tag-link-13' title='2 topics' style='font-size: 10.625pt;'>Video</a>
                </div>
            </div>
        </aside><!-- .sidebar -->
    </div>
</div><!-- .grids -->
</div><!-- .wrapper -->
    </section>
