@model Maksimalist.Models.HomeViewModel



<div class="wrapper">
    <section id="hero-stories" class="wrapperzzz">

        <div class="wrapperzzz">

            <ul class="MansetList">
                @foreach (var i in Model.Manset)
                {
                    @Html.Partial("_Manset", i)
                }
            </ul>
        </div>
    </section>
    <div class="grids" style="margin-top:20px;">
        <div class="grid-9">


            <section class="wrapper home-section latest-reviews">

                <header class="section-header">
                    <div class="title-with-sep">
                        <h2 class="title">MODA</h2>
                    </div>
                </header>

                <div class="grids entries">
                    @foreach (var i in Model.Moda)
                    {
                        @Html.Partial("_Post", i)
                    }
                </div>

                <header class="section-header">
                    <div class="title-with-sep">
                        <h2 class="title">GÜZELLİK</h2>
                    </div>
                </header>

                <div class="grids entries">

                    @foreach (var i in Model.Guzellik)
                    {
                        @Html.Partial("_Post", i)
                    }
                </div>
                <header class="section-header">
                    <div class="title-with-sep">
                        <h2 class="title">ALIŞVERİŞ</h2>
                    </div>
                </header>

                <div class="grids entries">

                    @foreach (var i in Model.Alisveris)
                    {
                        @Html.Partial("_Post", i)
                    }

                </div>
                <header class="section-header">
                    <div class="title-with-sep">
                        <h2 class="title">ÜNLÜLER</h2>
                    </div>
                </header>

                <div class="grids entries">

                    @foreach (var i in Model.Unluler)
                    {
                        @Html.Partial("_Post", i)
                    }

                </div>
                <div style="width:380px;display:inline-block">
                    <header class="section-header">
                        <div class="title-with-sep">
                            <h2 class="title" style="width:375px">ŞEHİR-YAŞAM</h2>
                        </div>
                    </header>

                    <div class="grids entries">

                        @foreach (var i in Model.SehirYasam)
                        {
                            @Html.Partial("_Post2", i)
                        }

                    </div>
                </div>
                <div style="width:380px;display:inline-block">
                    <header class="section-header">
                        <div class="title-with-sep">
                            <h2 class="title" style="width:375px">GELİN</h2>
                        </div>
                    </header>

                    <div class="grids entries">

                        @foreach (var i in Model.Gelin)
                        {
                            @Html.Partial("_Post2", i)
                        }

                    </div>
                </div>
                <header class="section-header" style="margin-bottom:0px">
                    <div class="title-with-sep">
                        <h2 class="title" style="width:1150px">VİDEO</h2>
                    </div>
                </header>


            </section>
        </div>



        @Html.Partial("_rightnav", (Maksimalist.Models.RightNavViewModel)ViewBag.RightNav)


        <div class="grids entries videodiv" style="display: inline-block; margin-left: 2px; width: 1350px; height: 200px; margin-left: -45px;padding-top: 20px;">

            @foreach (var i in Model.Video)
            {
                <article style="margin-left: 50px;width:350px;" class="post-148 post type-post status-publish format-standard has-post-thumbnail hentry category-travel tag-black-n-white tag-nature tag-river grid-3">

                    <figure class="entry-image" style="height:180px">
                        <a href="~/post/@i.Category.UrlSlug/@i.SubCategory.UrlSlug/@i.UrlSlug">
                            <img width="270" height="180" src="@i.ContentImage" class="attachment-rectangle-size wp-post-image" />
                        </a>
                        <h2 class="" style="word-wrap: break-word;  width: 100%; position: absolute;bottom: 0;left: 0; margin: 0;padding: 5px 0;background: rgba(0,0,0,0.7);color: #FFF;text-align: right;display: table; font-size:1em;"><span style="height: 56px;padding: 0 10px; vertical-align: middle; display: table-cell;">@i.Headline</span></h2>
                    </figure>


                </article>
            }




        </div>

    </div><!-- .grid-8 -->




</div><!-- .wrapper -->
