@model Maksimalist.Models.MobileHomeViewModel
@{

    Layout = "~/Views/Shared/_MobileLayout.cshtml";
}

<div id="homepage" class="homepage">
    <ul class="pagination-list list-container">
      
        @foreach (var i in Model.Postlar)
        {
            if (i.HasGallery)
            {
                <li class="list-item">
                    <a class="img-thumb" href="~/post/galeri/@i.Category.UrlSlug/@i.SubCategory.UrlSlug/@i.UrlSlug" title="Read Full Post">
                        <img src="@i.ContentImage">

                    </a>
                    <div class="list-meta">
                        <div class="post-date">@String.Format("{0:dd MMMM yyyy}", i.PostDate)</div><div><a href="~/kategori/@i.Category.UrlSlug" title="@i.Category.Name">@i.Category.Name</a></div>
                    </div>
                    <a class="list-content" href="~/post/galeri/@i.Category.UrlSlug/@i.SubCategory.UrlSlug/@i.UrlSlug" title="Read Full Post">
                        <h4>@i.Headline</h4>
                    </a>
                </li>}
            else
            {
                <li class="list-item">
                    <a class="img-thumb" href="~/post/@i.Category.UrlSlug/@i.SubCategory.UrlSlug/@i.UrlSlug" title="Read Full Post">
                        <img src="@i.ContentImage">

                    </a>
                    <div class="list-meta">
                        <div class="post-date">@String.Format("{0:dd MMMM yyyy}", i.PostDate)</div><div><a href="~/kategori/@i.Category.UrlSlug" title="@i.Category.Name">@i.Category.Name</a></div>
                    </div>
                    <a class="list-content" href="~/post/@i.Category.UrlSlug/@i.SubCategory.UrlSlug/@i.UrlSlug" title="Read Full Post">
                        <h4>@i.Headline</h4>
                    </a>
                </li>}
        }
    </ul>

</div>
